<head>
  <meta charset="utf-8" />
  <title>Page title</title>

  <meta name="description" content="Page description" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- OG Tags -->
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="#" />
  <link rel="icon" type="image/png" sizes="32x32" href="#" />
  <link rel="icon" type="image/png" sizes="16x16" href="#" />
  <link rel="manifest" href="#" />
  <link rel="mask-icon" href="#" color="#0f0f0f" />

  <meta name="msapplication-TileColor" content="#000" />
  <meta name="msapplication-TileImage" content="#" />
  <meta name="theme-color" content="#000" /> -->

  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>" />
</head>
